/* Global */
*{
    box-sizing: border-box;
}
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    
    /* size */
    --size-border-radius:4px;
  }
  /* Section common */
  .section{
    padding:50px;
    text-align: center;
    margin: auto;
    max-width: 1200px;

  }
  .section__container{
    padding:50px;
    text-align: center;
    margin: auto;
  }
  /* Typography */
  
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: white;
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }
  body{
    margin:0;
    font-family: 'Open Sans';
    cursor: default;
  }
  button{
    background: transparent;
    cursor:pointer;
    outline: none;
    border-radius: 12px;
  }
  /* Navbar */
  #navbar{
    display: flex;
    justify-content:space-between;
    background:var(--color-pink);
    align-items: center;
    width: 100%;
    position:  fixed;
    transition: all 300ms ease-in;
    z-index:1;
  }
  #navbar.dark{
    background:var(--color-pink);

  }
  a{
    text-decoration: none;
    color: var(--color-white);
  }
  .navbar__logo{
    color:var(--color-white);
    font-weight: var(--weight-semi-bold);
    font-size: var(--font-medium);
    padding-left: 20px;
  }
  ul{
    list-style: none;
    padding-left: 0px;
  }
  .navbar__menu{
    display: flex;
  }
  .navbar__menu.open{
    display: block;
  }
  .navbar__menu__item{
    margin:0 5px;
    padding:8px ;
    color:var(--color-white);
    cursor:pointer;
    border-radius: var(--size-border-radius);
    border:solid 1px transparent;

  }
.navbar__menu__item:hover{
  background-color:var(--color-dark-pink);
  border:solid 1px var(--color-white);

}
  .navbar__menu__item.active{
    border:solid 1px var(--color-white);
  }
  .navbar__toggle{
      position: absolute;
      top:5px;
      right: 32px;
      font-size: 24px;
      color: var(--color-white);
      border: none;
      outline: none;
      display: none;
  }
  .arrowUp{
    position: fixed;
    right:20px;
    bottom:20px;
    font-size: 40px;
    color: var(--color-dark-grey);
    border:none;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
}
.arrowUp.visible{
  opacity: 1;
  pointer-events:stroke;
}

  /* Home */
  #home{
    background: url('img/homeBg.png') center/cover no-repeat;
    padding:40px;
    text-align: center;
  }
  .home__avatar{
    width:240px;
    height: 240px;
    border-radius: 50%;
    border: 2px solid var(--color-dark-white);
  }
  .home__title, .home__description{
    color: var(--color-white);
  }
  .home__contact{
    font-size: var(--font-regular);
    font-weight:var(--weight-bold);
    margin: 24;
    padding: 11px;
    border: 2px solid #000;
  }
  .home__contact:hover{
    background:var(--color-orange);
  }

  /* About */
  .about__majors{
    display: flex;
    justify-content: space-between;
    margin: 90px;
  }
  .major__icon{
    width: 170px;
    height: 170px;
    font-size: 70px;
    line-height: 170px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    color: var(--color-blue);
    border: 3px solid var(--color-blue);
  }
  .major__icon i{
    transition: all 300ms;
  }
  .major__icon:hover i{
    color:var(--color-pink);
    transform: rotate(-30deg) scale(1.2);

  }
  .major__title, .major__description{
    color:var(--color-dark-grey) ;
  }
  .major__description{
    font-size: var(--font-small);
  }
  .samsung  {
    width: 100px;
  }
  .job{
    display: flex;
    align-items: center;
  }
  .job__description{
    margin: 0 16px;
    text-align: left;
    color: var(--color-dark-grey);
    font-size: var(--font-small);
  }
  .job__period{
    font-size: var(--font-micro);
  }

  /* Skill */
  #skills{
    background-color: var(--color-yellow);
  }
  .skillset{
    display: flex;
    color: var(--color-white);
    background: var(--color-light-grey);
    margin: 20px 0;

  }
  .skill__left{
    flex-basis: 60%;
    background: var(--color-dark-grey);
  }
  .skill__right{
    flex-basis: 40%;
  }
  .tools{
    background: gray;
  }
  .skill_title{
    color:var(--color-white);
  }
  progress{
    width: 80%;
  }
  .skill__description{
    display: flex;
    justify-content: space-around;
  }

  /* Work */
  .work__caregory{
    margin: 40px;
  }
  .category__btn{
    border: 1px solid #000;
    border-radius: 3px;
    font-size: var(--font-regular);
    padding: 8px 48px;
    position: relative;
  }
  .category__btn.active,
  .category__btn:hover{
    color: var(--color-white);
    background: var(--color-pink);
  }
  .category__count{
    border: 1px solid #000;
    display: inline-block;
    width: 20px;
    height:20px;
    background:var(--color-orange);
    border-radius: 50%;
    line-height: 20px;
    margin: 0px 5px;
    top:20px;
    right: 5px;
    position: absolute;
    opacity: 0;
    transition: all 300ms;
    pointer-events: none;
  }
  .category__btn.active .category__count,
  .category__btn:hover .category__count{
    opacity: 1;
    top:0;
  }
  .work__projects{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    opacity:1;
    transition: all 300ms ease-out;
  }
  .work__projects.anime{
    opacity: 0;
    transform: scale(0.8) translateY(40px);
  }
  .project{
    width: 300px;
    height: 200px;
    margin: 4px;
    position: relative;
  }
  .project.invisible{
    display: none;
  }
  .project__img{
    width:100%;
    height:100%;
    
  }
  .project__description h3{
    color:var(--color-orange);
  }
  .project__description{
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 300ms;
    transform: translateY(20px);
    opacity: 0;
    background: black;
  }
.project__description:hover{
  transform: translateY(0px);
  opacity: 0.5;
}
.project__description h3:after{
  content: '';
  display: block;
  position: relative;
  left: 45%;
  background: white;
  width:50px;
  height:5px;
  margin-top: 5px;
  transform: translateX(-20%);
}

/* testimonials */
#testimonials{
    background: var(--color-light-white);

}
.test{
    display: flex;
    margin: 40px;
    align-items: center;
}
.test__people{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.test__people:nth-child(odd){
    margin-right: 20px;
}
.test__people:nth-child(even){
    margin-left: 20px;
}
.test__speach{
    background: var(--color-white);
    padding: 18px;
    border-radius: 12px;

}
.test__speach p{
    color: var(--color-light-grey);
}
.test__speach a{
    color: var(--color-pink);
}

/* Contact */
#contact{
    background: var(--color-pink);
    color: var(--color-white);
}
#contact h1, h2, .contact__rights, .contact__links{
    color: var(--color-white);
}
.contact__links i{
font-size: var(--font-medium);
transition: all 300ms;
margin: 10px;
}

.contact__links i:hover{
    transform: scale(1.2) rotate(360deg);
    color: var(--color-black);
}
.contact:hover{
  background:var(--color-orange);
}
@media screen and (max-width:768px){
  
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 30px;
  --font-medium: 18px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  
  /* size */
  --size-border-radius:4px;
}
    /* navbar */
    .navbar__toggle{
        display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: start;
    }
    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    
    /* about */
    .about__majors{
        flex-direction: column;
        margin-top:30px;
        margin-bottom: 0;
    }
    .major{
        margin-bottom: 30px;
    }
    /* skill */
    .skillset{
        flex-direction: column;
    }
    .category__btn{
      padding:8px;
      width:100%;
    }
    .project{
        flex-grow: 1;
    }
    .test__people{
        width: 120px;
        height: 120px;
        margin-bottom:20px;
    }
    .test{
      flex-direction: column;
    }
    .test__speach{
      order:1;
    }
   
    
    .section{
      padding: 16px;
    }
}